<h1>Blog About IT</h1>
<form>
  <div class="mb-3">
    <label for="title">Title:</label>
    <input type="text" class="form-control" id="title" value="title">
  </div>
  <div class="mb-3">
    <label for="body">Body:</label>
    <textarea class="form-control" name="body" id="body"></textarea>
  </div>
  <button class="btn btn-primary" id="post">Post</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

function createPost() {
    let newPost = {
      title: document.getElementById('title').value,
      body: document.getElementById('body').value
    }
    axios.post('/api/post', newPost, {
      headers: {
        'Authorization': `Bearer ${localStorage.getItem('token')}`
      }
    })
      .then(res => {
        console.log(res)
      })
  }

  document.getElementById('post').addEventListener('click', event => {
    event.preventDefault()
    createPost()
    alert('Post Created!')
    document.getElementById('title').value = '';
    document.getElementById('body').innerHTML = '';
  })
</script>